* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#sfondo-superiore {
    background-image: url("../img/pattern.png");
    background-size: 300px;
    background-color: blueviolet;
    height: 80px;
    position: relative;
}

#logo {
    height: 40px;
    position: absolute;
    bottom: 5px;
    left: 10%;
}

h1 {
    margin-bottom: 0px;
}

.grey-text {
    color: grey;
}

.testo-giallo {
    background-color: yellow;
}

#blueviolet-text {
    color: blueviolet;
}

.litle-text {
    font-size: 10px;
}

#foto-Tim {
    margin-top: 25px;
}

#lista {
    padding-left: 15px;
}

table {
    border-spacing: 0;
}

#testa {
    background-color: blueviolet;
    color: white;
    text-align: left;
}

.colonna-larga {
    width: 60%;
}

.corpo {
    background-color: lightblue;
}

h4 {
    color: grey;
}

#monitor {
    background-image: url("../img/monitor.jpg");
    width: 200px;
    height: 150px;
    background-size: contain;
}

h3 {
    color: white;
    padding: 5%;
}

#grafico {
    background-image: url("../img/graph.jpg");
    width: 200px;
    height: 150px;
    background-size: contain;
}

.bonus {
    width: 80%;
    margin: auto;
}